PORT=3000
DB=postgres://admin:123@localhost:5432/onwGame

ACCESS_TOKEN='access'
REFRESH_TOKEN='refresh'

CLIENT_URL='http://localhost:5173'

JWT_SECRET='email'
JWT_PASS='password'

EMAIL_USER='own.game@mail.ru'
EMAIL_PASSWORD='CepvmgcZ6cARYKpdXEdV'